NEXT_PUBLIC_BASE_API_URL=http://localhost:5000/api/v1
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_AUTH_URL=http://localhost:3000
AUTH_URL=http://localhost:3000



NEXT_PUBLIC_MA_FRONTEND_URL=http://localhost:3000
NEXT_PUBLIC_EP_FRONTEND_URL=http://localhost:3001


# Facebook Pixel Configuration
NEXT_PUBLIC_FACEBOOK_PIXEL_ID=
META_PIXEL_ID=
META_CAPI_TOKEN=
